{{define "content"}}

<h1>Clients</h1>

<table class="pure-table pure-table-striped">
  <thead>
    <tr>
      <th>Common Name</th>
      <th>Real Address</th>
      <th>Virtual Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{range $client := .Clients}}
    <tr>
      <td>
        {{$client.CommonName}}
      </td>
      <td>
        {{$client.RealAddress}}
      </td>
      <td>
        {{$client.VirtualAddress}}
      </td>
      <td>
        <button class="pure-button button-error button-xsmall">Disconnect</button>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<p>{{.Status}}</p>

{{end}}
